.fi-fo-rich-editor-content .text-warm-plum,
.ProseMirror .text-warm-plum {
  color: #992785;
}

.fi-fo-rich-editor-content img.cms-img-float-left,
.ProseMirror img.cms-img-float-left {
  float: left;
  margin: 0 1rem 1rem 0;
  max-width: min(50%, 100%);
}

.fi-fo-rich-editor-content img.cms-img-float-right,
.ProseMirror img.cms-img-float-right {
  float: right;
  margin: 0 0 1rem 1rem;
  max-width: min(50%, 100%);
}
