@layer components {
  [data-type="articleHeader"] {
    picture {
      width: 100vw;
      @media (min-width: 769px) and (max-width: 1023px) {
        img {
          height: 454px;
          object-fit: cover;
        }
      }
      @media (min-width: 1024px) {
        flex-shrink: 0;
        margin-right: calc((100% - 100vw) / 2);
        width: 50vw;
      }
    }
  }
}
