@use 'colors' as *;

@layer components {
  section[data-type='ctaSection'] {
    position: relative;
    z-index: 1;

    .bg-effect-lines1 {
      position: absolute;
      pointer-events: none;
      opacity: 0.75;

      width: 100%;
      height: auto;
      z-index: 1;

      top: 250px;
      bottom: 0;

      @screen md {
        top: 400px;
        right: -100px;
      }

      @screen lg {
        right: 0;
      }
    }

    .bg-effect-fuzz1 {
      position: absolute;
      pointer-events: none;
      text-align: right;
      width: 100%;
      overflow: visible;
      height: 1px;
      z-index: 0;

      top: 100px;
      right: 100px;

      @screen md {
        top: 200px;
        right: -50px;
      }

      @screen lg {
        top: 0;
        right: 0;
      }

      .bg-effect-bg-img {
        width: 4058px;
        height: auto;
        position: absolute;
        right: -150px;
      }
    }

    .bg-effect-lines2 {
      position: absolute;
      pointer-events: none;
      opacity: 0.75;
      width: 100%;
      height: auto;

      z-index: 1;

      @screen xl {
        left: -300px;
        top: -320px;
      }
    }

    .bg-effect-fuzz2 {
      position: absolute;
      pointer-events: none;

      text-align: right;
      width: 100%;
      overflow: visible;
      height: 1px;
      z-index: 0;

      @screen xl {
        top: -200px;
        left: -300px;
      }

      .bg-effect-bg-img {
        width: 5137px;
        height: auto;
        position: absolute;
      }
    }

    .img-shape-acorn {
      mask: url('/src/assets/masks/acorn.svg');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      width: calc(100% - 6em);
      margin: auto;

      @screen sm {
        width: calc(100% - 14em);
      }

      @screen lg {
        width: 100%;
      }
    }

    .img-shape-rectangle {
      border-radius: 24px;
      overflow: hidden;
    }

    .img-wrapper {
      position: relative;
      aspect-ratio: 1491.082 / 1572.087;
      background-image: var(--cta-bg-mobile, var(--cta-bg-desktop));
      background-size: cover;
      background-position: center;
      @screen lg {
        background-image: var(--cta-bg-desktop, var(--cta-bg-mobile));
      }
    }

    .content-section-1 {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    .content-section-2 {
      width: 100%;
      position: relative;
      z-index: 2;

      .component-cta {
        margin-top: 5em;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .bg-effects + .content-section-2 {
      @screen lg {
        width: 60%;
      }
    }

    .title > :last-child {
      margin-bottom: 0;
    }
  }
}
